apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: consul
  namespace: medapp-infra
spec:
  serviceName: consul
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
        - name: consul
          image: hashicorp/consul:latest
          ports:
            - containerPort: 8500
              name: http
            - containerPort: 8600
              name: dns
              protocol: UDP
          env:
            - name: CONSUL_BIND_INTERFACE
              value: eth0
            - name: CONSUL_CLIENT_INTERFACE
              value: eth0
            - name: CONSUL_ENABLE_SCRIPT_CHECKS
              value: "true"
          args:
            - "agent"
            - "-server"
            - "-ui"
            - "-node=server-1"
            - "-bootstrap-expect=1"
            - "-client=0.0.0.0"
            - "-dns-port=8600"
          volumeMounts:
            - name: consul-data
              mountPath: /consul/data
            - name: consul-config
              mountPath: /consul/config
          readinessProbe:
            exec:
              command:
                - consul
                - members
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            exec:
              command:
                - consul
                - members
            initialDelaySeconds: 30
            periodSeconds: 30
      volumes:
        - name: consul-config
          configMap:
            name: consul-config
            optional: true
  volumeClaimTemplates:
    - metadata:
        name: consul-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: consul
  namespace: medapp-infra
spec:
  selector:
    app: consul
  ports:
    - port: 8500
      targetPort: 8500
      name: http
    - port: 8600
      targetPort: 8600
      protocol: UDP
      name: dns
