#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

apisix:
  node_listen: 9080 # APISIX listening port
  enable_ipv6: false
  enable_admin: true # Enable Admin API
  enable_admin_cors: true # Enable Admin API CORS
  enable_debug: false
  enable_dev_mode: false # Don't check code style while starting up
  enable_reuseport: true # Enable port reuse
  enable_server_tokens: true # Whether the APISIX version will be shown in Server header
  enable_control: true

deployment:
  admin:
    allow_admin: # Admin API allow list
      - 0.0.0.0/0 # Allow all IPs access
    admin_key:
      - name: "admin"
        key: edd1c9f034335f136f87ad84b625c8f1 # Admin API key
        role: admin

  etcd:
    host: # etcd address
      - "http://etcd:2379" # using etcd service in docker network
    prefix: "/apisix" # apisix configurations prefix
    timeout: 30 # 30 seconds

plugins: # plugin list
  - real-ip
  - ai
  - client-control
  - proxy-control
  - request-id
  - zipkin
  - ext-plugin-pre-req
  - fault-injection
  - mocking
  - serverless-pre-function
  - cors
  - ip-restriction
  - ua-restriction
  - referer-restriction
  - csrf
  - uri-blocker
  - request-validation
  - chaitin-waf
  - multi-auth
  - openid-connect
  - cas-auth
  - authz-casbin
  - authz-casdoor
  - wolf-rbac
  - ldap-auth
  - hmac-auth
  - basic-auth
  - jwt-auth
  - jwe-decrypt
  - key-auth
  - consumer-restriction
  - attach-consumer-label
  - forward-auth
  - opa
  - authz-keycloak
  - proxy-cache
  - body-transformer
  - ai-prompt-template
  - ai-prompt-decorator
  - ai-prompt-guard
  - ai-rag
  - ai-rate-limiting
  - ai-proxy-multi
  - ai-proxy
  - ai-aws-content-moderation
  - proxy-mirror
  - proxy-rewrite
  - workflow
  - api-breaker
  - limit-conn
  - limit-count
  - limit-req
  - gzip
  - server-info
  - traffic-split
  - redirect
  - response-rewrite
  - degraphql
  - kafka-proxy
  - grpc-transcode
  - grpc-web
  - http-dubbo
  - public-api
  - prometheus
  - datadog
  - loki-logger
  - elasticsearch-logger
  - echo
  - loggly
  - http-logger
  - splunk-hec-logging
  - skywalking-logger
  - google-cloud-logging
  - sls-logger
  - tcp-logger
  - kafka-logger
  - rocketmq-logger
  - syslog
  - udp-logger
  - file-logger
  - clickhouse-logger
  - tencent-cloud-cls
  - inspect
  - example-plugin
  - aws-lambda
  - azure-functions
  - openwhisk
  - openfunction
  - serverless-post-function
  - ext-plugin-post-req
  - ext-plugin-post-resp

plugin_attr:
  proxy-mirror:
    timeout:
      connect: 60s
      read: 60s
      send: 60s
  prometheus:
    export_addr:
      ip: 0.0.0.0
      port: 9091
    metric_prefix: apisix_
    enable_export_server: true
    export_uri: /apisix/prometheus/metrics
  inspect:
    delay: 3
    hooks_file: /usr/local/apisix/plugin_inspect_hooks.lua
  server-info:
    report_ttl: 60
  zipkin:
    set_ngx_var: false
  opentelemetry:
    collector:
      request_headers:
        Authorization: token
      address: 127.0.0.1:4318
      request_timeout: 3
    set_ngx_var: false
    trace_id_source: x-request-id
    resource:
      service.name: APISIX
    batch_span_processor:
      drop_on_queue_full: false
      max_queue_size: 1024
      batch_timeout: 2
      inactive_timeout: 1
      max_export_batch_size: 16
  skywalking:
    report_interval: 3
    service_name: APISIX
    endpoint_addr: http://127.0.0.1:12800
    service_instance_name: APISIX Instance Name
  dubbo-proxy:
    upstream_multiplex_count: 32
  log-rotate:
    interval: 3600
    timeout: 10000
    max_size: -1
    enable_compression: false
    max_kept: 168
nginx_config:
  error_log_level: warn
  worker_processes: auto
  enable_cpu_affinity: false
  worker_rlimit_nofile: 20480
  worker_shutdown_timeout: 240s
  max_pending_timers: 16384
  max_running_timers: 4096
  meta:
    lua_shared_dict:
      prometheus-metrics: 15m
  event:
    worker_connections: 10620
  http:
    access_log_buffer: 16384
    keepalive_timeout: 60s
    client_header_timeout: 60s
    upstream:
      keepalive_requests: 1000
      keepalive: 320
      keepalive_timeout: 60s
    client_max_body_size: 0
    send_timeout: 10s
    underscores_in_headers: "on"
    real_ip_header: X-Real-IP
    real_ip_recursive: "off"
    real_ip_from:
      - 127.0.0.1
      - "unix:"
    proxy_ssl_server_name: true
    access_log_format_escape: default
    lua_shared_dict:
      balancer-ewma-last-touched-at: 10m
      etcd-cluster-health-check: 10m
      plugin-ai-rate-limiting: 10m
      plugin-ai-rate-limiting-reset-header: 10m
      plugin-limit-conn: 10m
      plugin-limit-conn-redis-cluster-slot-lock: 1m
      plugin-limit-req-redis-cluster-slot-lock: 1m
      plugin-limit-req: 10m
      plugin-limit-count: 10m
      plugin-limit-count-redis-cluster-slot-lock: 1m
      prometheus-metrics: 10m
      plugin-api-breaker: 10m
      discovery: 1m
      jwks: 1m
      introspection: 10m
      access-tokens: 1m
      ext-plugin: 1m
      ocsp-stapling: 10m
      cas-auth: 10m
      tars: 1m
      tracing_buffer: 10m
      internal-status: 10m
      upstream-healthcheck: 10m
      worker-events: 10m
      lrucache-lock: 10m
      balancer-ewma: 10m
      balancer-ewma-locks: 10m
    client_body_timeout: 60s
    access_log: logs/access.log
    access_log_format:
      $remote_addr - $remote_user [$time_local] $http_host "$request"
      $status $body_bytes_sent $request_time "$http_referer" "$http_user_agent" $upstream_addr
      $upstream_status $upstream_response_time "$upstream_scheme://$upstream_host$upstream_uri"
    charset: utf-8
    enable_access_log: true
    variables_hash_max_size: 2048
  stream:
    access_log_format_escape: default
    lua_shared_dict:
      etcd-cluster-health-check-stream: 10m
      lrucache-lock-stream: 10m
      plugin-limit-conn-stream: 10m
      worker-events-stream: 10m
      tars-stream: 1m
    enable_access_log: false
    access_log: logs/access_stream.log
    access_log_format:
      $remote_addr [$time_local] $protocol $status $bytes_sent $bytes_received
      $session_time
  http_end_configuration_snippet: ""
  main_configuration_snippet: ""
  http_configuration_snippet: ""
  http_server_configuration_snippet: ""
  http_server_location_configuration_snippet: ""
  http_admin_configuration_snippet: ""
  error_log: logs/error.log
  stream_configuration_snippet: ""
stream_plugins:
  - ip-restriction
  - limit-conn
  - mqtt-proxy
  - syslog
